body {
  background-color: #e1cec3 !important;
font-family: sans-serif !important;
color: #0e0e0e !important;
}

.logo {
  text-align: center;
}
.content__card {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100vh;
}
.logo img {
  width: 400px;
  margin-top: 20px;
}
.row{
  display: flow !important;
}

.header{
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px ;
}
.start-btn{
  margin-top: 10px;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 30px;
    font-weight: 600;
    background: #784024;
    border: 1px solid;
    color: #e1cec3;
}
.start-btn:hover(){
  transition: 2s;
  color: #0e0e0e;
}

.ant-select-selector {
  height: 40px !important;
}

.ant-select-selection-placeholder{
  padding: 3px !important;}
  .ant-select-selection-item{
    padding: 5px !important;
  }
  .ant-select-selection-search{
    padding: 5px 0 !important;
  }


  body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }
  /* body:before {
    content: '';
    position: fixed;
    width: 100vw;
    height: 100vh;
   
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    filter: blur(10px);
  } */
  .contact-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
      min-width: 350px;
    height: fit-content;
    padding-top: 40px;
      padding-bottom: 40px;
      padding-inline: 40px;
    background: rgba(168, 130, 102, 0.5);
      border-radius: 25px;
      box-shadow: 5px 5px 10px rgba(116, 75, 45, 0.5);;
  }
  .avatar {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    top: calc(-80px/2);
    left: 190px;
  }
  .contact-form h2 {
    margin: 0;
    padding: 0 0 20px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
  }
  .contact-form p {
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #fff;
  }
  .contact-form input {
    width: 100%;
    margin-bottom: 20px;
  }
  .contact-form input[type=text], .contact-form input[type=password] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
  }
  .contact-form input[type=submit] {
    height: 40px;
    color: #fff;
    font-size: 18px;
    background: #9d613f;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    outline: none;
    margin-top: 5%;
      border: 2px solid transparent;
      letter-spacing: 2px;
      transition: all 0.4s;
  }
  
  .contact-form input[type=submit]:hover {
    color: #9d613f;
    background: transparent;
    border-radius: 25px;
    border: 2px solid #9d613f;
    outline: none;
    margin-top: 5%;
  }
  .contact-form a {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
  }
  input[type=checkbox] {
    width: 20%;
  }
  :where(.css-dev-only-do-not-override-17a39f8).ant-select:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover .ant-select-selector {
    border-color: #ffffff !important;}
  .animate__animated.animate__slideInUp {
      --animate-duration: 2s;
  }
  .ant-select-focused .ant-select-selector,
  .ant-select-selector:focus,
  .ant-select-selector:active,
  .ant-select-open .ant-select-selector {
    border-color: #d9d9d9 !important;
    box-shadow: none !important;
  }
  .ant-select:hover .ant-select-selector {
    border-color: #fffefe !important;
    box-shadow: none !important;
  }


  .checkboxdiv {
    background: azure;
    border-radius: 3px;
    padding: 10px;
    margin: 10px;
  }

  :where(.css-dev-only-do-not-override-17a39f8).ant-checkbox .ant-checkbox-inner{

    height: 26px !important;
    width: 26px !important;
  }

  :where(.css-dev-only-do-not-override-17a39f8).ant-checkbox .ant-checkbox-inner:after{
    width: 9.714286px !important;
    height: 15.142857px !important;
  }

  :where(.css-dev-only-do-not-override-17a39f8).ant-checkbox-checked .ant-checkbox-inner {
    background-color: #e1cec3 !important;
    border-color: #e1cec3 !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color:#784024 !important;
  border-color: #784024 !important;
}.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus+.ant-checkbox-inner {
  border-color: #784024 !important;
}
.ant-checkbox-indeterminate .ant-checkbox-inner::after {
  background-color:#784024 !important;
}